// Set app variables

// theme colors
$white: #FFFFFF;
$brand: #475DE5;

$grays: (
  "gray10": #F7FAFC,
  "gray20": #EDF2F7,
  "gray30": #E2E8F0,
  "gray50": #A0AEC0,
  "gray60": #718096,
  "gray70": #4A5568,
  "gray80": #2D3748,
  "gray90": #171A22
)
