.users-container {
  .n-card__content {
    padding: 32px 16px;

    &:first-child {
      padding-top: 32px;
    }
  }

  &__header {
    padding: 0 16px;
    margin-bottom: 24px;

    p {
      margin: 0;
    }
  }
}
